---
import "../styles/global.css";
---

<!doctype html>
<html data-theme="caramellatte" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body>
    <header>
      <ul>
        <li><a href="/species/Adelie">Graphic Adelie</a></li>
        <li><a href="/species/Gentoo">Graphic Gentoo</a></li>
        <li><a href="/species/Chinstrap">Graphic Chinstrap</a></li>
      </ul>
    </header>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
